<title>Dashboard</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" type="icon" href="icon/logo.png">
<%- include('sliderbar.ejs') %>

    <div class="main">
        <div onclick="window.location.href='/nhanvien'">
            <i class="fa fa-users  mb-2"></i>
            <h4>Nhân viên</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/hopdong'">
            <i class="fa-solid fa-id-card"></i>
            <h4>Hợp đồng</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/phongban'">
            <i class="fa-solid fa-file-signature"></i>
            <h4>Phòng ban</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/chucvu'">
            <i class="fa-solid fa-hotel"></i>
            <h4>Chức vụ</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/donnghiphep'">
            <i class="fa-solid fa-user-pen"></i>
            <h4>Đơn nghỉ phép</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/luongbong'">
            <i class="fa-regular fa-pen-to-square"></i>
            <h4>Bảng lương</h4>
            <h5></h5>
        </div>

        <div onclick="window.location.href='/bangkhautru'">
            <i class="fa-solid fa-pen"></i>
            <h4>Bảng khấu trừ</h4>
            <h5></h5>
        </div>
    </div>