<title>Danh sách đơn nghỉ phép</title>
<link rel="stylesheet" href="css/timkiem.css">
<link rel="icon" type="icon" href="icon/logo.png">
<%- include('sliderbar.ejs') %>

    <body>
        <div class="sinhvien">
            <h1>Quản Lý Đơn Nghỉ Phép</h1>
            <form method="GET" action="">
                <input class="tk" type="submit" value="Tìm kiếm">
                <input class="Timkiem" type="text" name="search" value="" placeholder="Nhập mã đơn hoặc mã nhân viên">
            </form>
            <a href="Themdonnghiphep.ejs">Thêm dơn nghỉ phép</a>
            <table border="1">
                <tr>
                    <th>Mã đơn</th>
                    <th>Mã nhân viên</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Thao tác</th>
                </tr>
            </table>
        </div>
    </body>