<link rel="stylesheet" href="css/index.css">
<div class="sidebar">
    <div class="side-header">
        <img src="icon/logoadmin.png" alt="QuanLyKyTucXa">
        <h5>Hello, Admin</h5>
    </div>

    <hr>
    <a href="nhanvien">Nhân Viên</a>
    <a href="hopdong">Hợp Đồng</a>
    <a href="phongban">Phòng Ban</a>
    <a href="chucvu">Chức vụ</a>
    <a href="donnghiphep">Đơn Nghỉ Phép</a>
    <a href="luongbong">Bảng Lương Bổng</a>
    <a href="bangkhautru">Bảng Khấu Trừ</a>

    <hr>
    <a href="/">Trợ giúp</a>
    <a href="/">Giới thiệu</a>
    <a href="Dangxuat.ejs">Đăng xuất</a>
</div>