<title>Sửa danh sách tài khoản</title>
<link rel="stylesheet" href="css/themsinhvien.css">
<link rel="icon" type="icon" href="icon/logo.png">
<%- include('sliderbar.ejs') %>

    <body>
        <div class="themsinhvien">
            <div>
                <form action="" method="POST">
                    <label for="Manhanvien">Mã nhân viên</label>
                    <input type="text" name="Manhanvien" id="manhanvien" value="">

                    <label for="Tennhanvien">Tên nhân viên</label>
                    <input type="text" name="Tennhanvien" id="tennhanvien" value="">

                    <label for="Machucvu">Mã chức vụ</label>
                    <input type="text" name="Machucvu" id="machucvu" value="">

                    <label for="Maphongban">Mã phòng ban</label>
                    <input type="text" name="Maphongban" id="Maphongban" value="">

                    <label for="Tuoi">Tuổi</label>
                    <input type="text" name="Tuoi" id="tuoi" value="">

                    <label for="Sodienthoai">Số điện thoại</label>
                    <input type="text" name="Sodienthoai" id="sodienthoai" value="">

                    <input type="submit" value="Sửa nhân viên">
                </form>
            </div>
        </div>
    </body>