<title>Xóa nhân viên</title>
<link rel="stylesheet" href="css/xoasinhvien.css">
<link rel="icon" type="icon" href="icon/logo.png">

<body>
    <h2>Xác nhận xóa nhân viên</h2>
    <p>Bạn có chắc chắn muốn xóa nhân viên <%=item.tenNhanVien%> không?</p>
    <form method="post">
        <input type="submit" name="delete" value="Xác nhận xóa">
        <a href="javascript:history.go(-1)">Quay lại</a>
    </form>
</body>